/* Davids Additions */

html {
	background-color: #717171;
	font-family: 'Lora', serif; font-size: 1.2em;
}
body {
	max-width: 1200px;
	margin: auto;
}

ul {padding: 0px; 

}

footer {
	text-shadow: 2px 2px 2px black;
}

.slideshow-container img {border-radius: 1em; -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);}

.slideshow-container ul {padding: 0 0 0 2em;}

.slideshow-container li {padding: 0 0 .5em 0;}

.rightCol  {
	float: right;
	width:49%;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
	}
	
.leftCol {
	float: left;
	width:49%;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
	}
	
.centerCol {
	margin:auto;
	width: 49%;
}
	
.small {
	width:28%;
}

.big {
	width:70%;
}

.extrasmall {
	width:23%;
}

.extrabig {
	width:75.5%;
}



/* Logo  */
.logo {
	margin: auto;
	max-width: 100%;
	margin-top: 1em;
	margin-bottom: 1.5em;
	border-radius: 1em;  
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

/* Slideshow container */
.slideshow-container {
	background-color: #fff;
  position: relative;
  margin: auto;
	border-radius: 1em;
	padding: 2em;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}



/* Navigation */
.nav {
	text-align: center;
font-size: 1.3em;
text-decoration: none;
margin: 0px;
text-transform: uppercase;
color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.nav li {
  padding: 10px;
  list-style-type: none;
	border-radius: .7em .7em 0 0;

}

.mySlides {
    display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;

  margin: 0 0 0 .2em;

  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
	color: #df542e;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* body */

h1 {
  display:flex;
  justify-content: center;
  padding: 10px;
}

.rv {
  padding: 10px;
  height: auto;
  width:40%;
}

.tableRVcamp {
  padding: 10px;
  height: auto;
  width: 40%;
}

.classicRV {
  padding: 10px;
  height: auto;
  width: 40%;
}

.main {
	overflow: auto;
}


.paragraph {
  padding: 10px;
  font-size: 20px;
}

/* Footer */
footer {
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #df542e;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

footer a {
  color:white;
  text-decoration: none;
}

.footerName {
  padding: 10px;
}

.contact {
  padding: 10px;
}

.email {
  padding: 10px;
}

.facebook {
  padding: 10px;
}

.facebookIcon {
  padding: 10px;
  height: 20%;
}


@media screen and (max-width: 1200px) {
  body {
	  margin: 0 1em;
  }
}



@media screen and (max-width: 700px) {
.nav li {
		width: 100%;
		padding: .3em 0;
	margin-bottom: .3em;
		border-radius: 1em;
	font-size: .8em
	}
	
	.dot {margin: 0;}
	
	.slideshow-container {padding: 1em;}
	
.leftCol {
	float: none;
	width:100%;
	
}

.rightCol {
	float: none;
	width:100%;
}

.centerCol {
	margin: inherit;
	width: 100%;
}
	
}







